<ui-panel titulo="Transferências - Solicitações Recebidas" nome="panel-transferencias-recebidas" ng-if="ct.transfRecebidas && ct.transfRecebidas.length > 0">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Salário</th>
                <th>CR de Origem</th>
                <th>Data de Solicitação</th>
                <th>Mês da Transferência</th>
                <th width="3%"></th> <!-- Aceitar -->
                <th width="3%"></th>  <!-- Rejeitar -->
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="t in ct.transfRecebidas">
                <td>{{t.FuncionarioMatricula}}</td>
                <td>{{t.Funcionario.Nome | ellipsis:12:5}}</td>
                <td>{{t.Cargo.NomeCargo | ellipsis:12:5}}</td>
                <td>R$ {{t.Funcionario.Salario | number:2}}</td>
                <td>{{t.Funcionario.CentroCustoCod}}</td>
                <td>{{t.DataSolicitacao | date:'dd-MM-yyyy'}}</td>
                <td>{{t.DataInicio | date:'MMM-yy'}}</td>
                <td><button class="btn btn-success btn-xs" ng-click="ct.aprovarTrans(t)"><i class="fa fa-check"></i></button></td>
                <td><button class="btn btn-danger btn-xs" ng-click="ct.rejeitarTrans(t)"><i class="fa fa-times"></i></button></td>
            </tr>
            
        </tbody>
    </table>
</ui-panel>