<ui-panel titulo="Novas Contratações" nome="panel-novos">

    <!-- <div class="btn-group">

        <button class="btn btn-default"><i class="fa fa-remove"></i></button>
        <button class="btn btn-default"><i class="fa fa-plus"></i></button>

    </div> -->

    <form name="formNovos" ng-if="ct.cr">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <!-- <th width="2%"></th> -->
                    <th width="12%">Cidade</th> <!-- Cidade -->
                    <th width="16%">Cargo</th>   <!-- Cargo -->
                    <th width="6%">CH</th>  <!-- Carga Horária -->
                    <th width="8%">Salário</th>   <!-- Faixa Saláriais -->
                    <th width="14%">Motivo da Cont.</th>   <!-- Motivo da Contratação -->
                    <th class="text-center" ng-repeat="m in ct.ciclo.Meses">{{m.Mes | date:'MMM'}}</th>
                    <th widht="3%"></th>
                </tr>

                <tr ui-input-parent>
                    <!-- <th><input type="checkbox"></th> -->
                    <th>
                        <select class="form-control" ng-model="ct.cargoNovo.CidadeNome" ng-options="f.CidadeNome as f.CidadeNome for f in ct.filiais track by f.CidadeNome" ng-keypress="ct.adicionaContratacao($event)">
                            <!--<option value="">Cidade</option>-->
                        </select>
                    </th>
                    <th>
                        <select class="form-control" ng-model="ct.cargoNovo.Cargo" ng-options="c.CargoNome for c in ct.cargosCH track by c.CargoCod" ng-keypress="ct.adicionaContratacao($event)">
                            <!--<option value="">Cargo</option>-->
                        </select>
                    </th>
                    <th>
                        <select class="form-control" ng-model="ct.cargoNovo.CargaHoraria" ng-options="ch for ch in ct.cargoNovo.Cargo.CHs" ng-keypress="ct.adicionaContratacao($event)">
                            <!--<option value="">C.H.</option>-->
                        </select>
                    </th>
                    <th>
                        <input list="salarios-list" class="form-control" ng-model="ct.cargoNovo.Salario">
                        <datalist id="salarios-list">
                            <option ng-repeat="s in ct.cargoNovo.Cargo.FaixasSalarios" value="{{s}}"></option>
                        </datalist>
                    </th>
                    
                    <th>
                        <select class="form-control" ng-model="ct.cargoNovo.Motivo" ng-options="motivo for motivo in ['Substituição','Aumento de Quadro']" ng-keypress="ct.adicionaContratacao($event)">
                            <!--<option value="">Motivo C.</option>-->
                        </select>
                    </th>
                    <th ng-repeat="m in ct.ciclo.Meses">
                        <input type="text" class="form-control text-center" ng-model="ct.cargoNovo.ContratacaoMeses[$index].Qtda" ng-pattern="/^\d{1,3}$/" required ui-input-child ng-keypress="ct.adicionaContratacao($event)">
                    </th>
                    <th><button class="btn btn-success btn-xs" style="margin-left:3px;"><i class="fa fa-plus" ng-click="ct.saveContratacao(ct.cargoNovo)"></i></button></th>
                </tr>
               

            </thead>

            <tbody>
                <tr ng-repeat="c in ct.contratacoes">

                    <td>{{c.CidadeNome}}</td>
                    <td>{{c.CargoNome}}</td>
                    <td>{{c.CargaHoraria}}</td>
                    <td>{{c.Salario}}</td>
                    <!-- <td>R$ {{c.Salario | number:2}}</td> -->
                    <td>{{c.Motivo}}</td>
                    <td ng-repeat="m in c.ContratacaoMeses" class="text-center">{{m.Qtda}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-show="c.ExcluirVisivel">
                            <i class="fa fa-remove" ng-click="ct.deleteContratacao(c.Codigo)"></i>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
        
    </form>

    <div ng-if="!ct.cr">
        Selecione um CR
    </div>


</ui-panel>