<ui-panel titulo="Abrir Solicitação" nome="panel-simulacoes">

    <form role="form" name="form">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="select-tipo-simulacao">Tipo de Simulações</label>
                    <select id="select-tipo-simulacao" class="form-control" ng-options="s for s in ['Contratação', 'Desligamento']" ng-model="simulacao">
                        <option value=''></option>
                    </select>
                </div>
            </div>
        </div>

        <div ng-include="'Views/components/simulacoes/simulacoesContratacao/simulacoesContratacao.html'" ng-if="simulacao == 'Contratação'"></div>
        <div ng-include="'Views/components/simulacoes/simulacoesDemissao/simulacoesDemissao.html'" ng-if="simulacao == 'Desligamento'"></div>

    </form>
</ui-panel>