<ui-panel titulo="Transferências - Solicitações Enviadas" nome="panel-transferencias-enviadas" ng-if="ct.transfEnviadas && ct.transfEnviadas.length > 0">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Salário</th>
                <th>CR de Destino</th>
                <th>Data de Solicitação</th>
                <th>Mês de Transferência</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="t in ct.transfEnviadas | orderBy:'-DataSolicitacao'">
                <td>{{t.FuncionarioMatricula}}</td>
                <td>{{t.NomeFuncionario | limitTo:20}}</td>
                <td>{{t.Cargo | limitTo:20}}</td>
                <td>R$ {{t.Salario | number:2}}</td>
                <td>{{t.CRDestino}}</td>
                <td>{{t.DataSolicitacao | date:'dd-MM-yyyy'}}</td>
                <td>{{t.MesTransferenciaData | date:'MMM-yy'}}</td>
                <td>{{t.Status}}</td>
                <td>
                    <button class="btn btn-default btn-xs"><i class="fa fa-info"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</ui-panel>