<table class="table table-striped table-condensed" ng-if="ct.PercHN != 'Aberto'">
    <thead>
        <tr>
            <th width="7%">Matrícula</th>
            <th width="20%">Nome</th>
            <th width="16%">Cargo</th>
            <th ng-repeat="m in ct.ciclo.Meses" class="text-center">
                {{m.Mes | date:'MMM'}}
            </th>
        </tr>
    </thead>

    <tbody ng-if="ct.PercHN == 20">
        <form name="formHN20">
            <tr ng-repeat="h in ct.adNoturnos | orderBy:'Matricula'" ui-input-parent>
                <td>{{h.Matricula}}</td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Nome}}"><p>{{h.Nome | ellipsis:15:5}}</p></td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Cargo}}"><p>{{h.Cargo | ellipsis:15:5}}</p></td>
                <td ng-repeat="hn in h.HNs20">
                    <input type="text" class="form-control text-center input-sm" ng-model="hn.QtdaHoras" required ui-input-child>
                </td>
            </tr>
        </form>
    </tbody>

    <tbody ng-if="ct.PercHN == 30">
        <form name="formHN30">
            <tr ng-repeat="h in ct.adNoturnos | orderBy:'Matricula'" ui-input-parent>
                <td>{{h.Matricula}}</td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Nome}}"><p>{{h.Nome | ellipsis:15:5}}</p></td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Cargo}}"><p>{{h.Cargo | ellipsis:15:5}}</p></td>
                <td ng-repeat="hn in h.HNs30">
                    <input type="text" class="form-control text-center input-sm" ng-model="hn.QtdaHoras" required ui-input-child>
                </td>
            </tr>
        </form>
    </tbody>

    <tbody ng-if="ct.PercHN == 40">
        <form name="formHN40">
            <tr ng-repeat="h in ct.adNoturnos | orderBy:'Matricula'" ui-input-parent>
                <td>{{h.Matricula}}</td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Nome}}"><p>{{h.Nome | ellipsis:15:5}}</p></td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Cargo}}"><p>{{h.Cargo | ellipsis:15:5}}</p></td>
                <td ng-repeat="hn in h.HNs40">
                    <input type="text" class="form-control text-center input-sm" ng-model="hn.QtdaHoras" required ui-input-child>
                </td>
            </tr>
        </form>
    </tbody>

    <tbody ng-if="ct.PercHN == 50">
        <form name="formHN50">
            <tr ng-repeat="h in ct.adNoturnos | orderBy:'Matricula'" ui-input-parent>
                <td>{{h.Matricula}}</td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Nome}}"><p>{{h.Nome | ellipsis:15:5}}</p></td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Cargo}}"><p>{{h.Cargo | ellipsis:15:5}}</p></td>
                <td ng-repeat="hn in h.HNs50">
                    <input type="text" class="form-control text-center input-sm" ng-model="hn.QtdaHoras" required ui-input-child>
                </td>
            </tr>
        </form>
    </tbody>

    <tbody ng-if="ct.PercHN == 60">
        <form name="formHN60">
            <tr ng-repeat="h in ct.adNoturnos | orderBy:'Matricula'" ui-input-parent>
                <td>{{h.Matricula}}</td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Nome}}"><p>{{h.Nome | ellipsis:15:5}}</p></td>
                <td data-toggle="tooltip" data-placement="left" title="{{f.Cargo}}"><p>{{h.Cargo | ellipsis:15:5}}</p></td>
                <td ng-repeat="hn in h.HNs60">
                    <input type="text" class="form-control text-center input-sm" ng-model="hn.QtdaHoras" required ui-input-child>
                </td>
            </tr>
        </form>
    </tbody>


    </tbody>
</table>

<table class="table table-striped table-condensed" ng-if="ct.PercHN == 'Aberto'">
    <thead>
        <tr>
            <th ng-repeat="m in ct.ciclo.Meses" class="text-center">
                {{m.Mes | date:'MMM/yy'}}
            </th>
        </tr>
    </thead>

    <tbody>
        <form name="formAberto">
            <tr ui-input-parent>
                <td ng-repeat="h in ct.horasNoturnasAbertas">
                    <input type="text" class="form-control text-center input-sm" ng-model="h.Valor" required ui-input-child>
                </td>
            </tr>
        </form>
    </tbody>
</table>

